flow4.json
[
    {
        "id": "73d5170617b26931",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ed7d5374810b87f",
        "type": "mqtt in",
        "z": "73d5170617b26931",
        "name": "",
        "topic": "codigoIoT/Mor/mqtt/flow4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fc811d2d0501731c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "5a3d7d9ad02a9dbc"
            ]
        ]
    },
    {
        "id": "5a3d7d9ad02a9dbc",
        "type": "json",
        "z": "73d5170617b26931",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "faaac4879e7512b2",
                "15798f60c4d04b41"
            ]
        ]
    },
    {
        "id": "faaac4879e7512b2",
        "type": "function",
        "z": "73d5170617b26931",
        "name": "Temperature",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = \"Temperature\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 160,
        "wires": [
            [
                "4229ff1d592d9bdb",
                "21cff6335e5f4c0f"
            ]
        ]
    },
    {
        "id": "15798f60c4d04b41",
        "type": "function",
        "z": "73d5170617b26931",
        "name": "Humidity",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = \"Humidity\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 240,
        "wires": [
            [
                "9b92b689486189eb",
                "21cff6335e5f4c0f"
            ]
        ]
    },
    {
        "id": "4229ff1d592d9bdb",
        "type": "ui_gauge",
        "z": "73d5170617b26931",
        "name": "",
        "group": "3371301b779d1ff7",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tempetature",
        "label": "units",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "26",
        "className": "",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "21cff6335e5f4c0f",
        "type": "ui_chart",
        "z": "73d5170617b26931",
        "name": "",
        "group": "d25c61d839e89434",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9b92b689486189eb",
        "type": "ui_gauge",
        "z": "73d5170617b26931",
        "name": "",
        "group": "191ebbb133f3918f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "fc811d2d0501731c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3371301b779d1ff7",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "18b583b88659dc3b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d25c61d839e89434",
        "type": "ui_group",
        "name": "Local History",
        "tab": "18b583b88659dc3b",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "191ebbb133f3918f",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "18b583b88659dc3b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "18b583b88659dc3b",
        "type": "ui_tab",
        "name": "Flow 4",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]